form{
    color: gray;
}
legend{
    font-weight: bold;
    border-bottom: 3px solid grey;
}
input ,select{ 
    border: 2px solid grey;
}
button{
    color: white;
    background-color: orange;
    border: 0;
}